@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c4cacf;
  --foreground: #051014;
  --secondary: #e4e6eb;
  --secondary-foreground: #2e2f2f;
  --primary: #575f8c;
  --highlight: #59639c;
  --warn: #bdb562;
  --money: #55a369;
  --delete: #993a3a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Comfortaa Variable", Arial, Helvetica, sans-serif;
}
